* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin: 5%;
}

.container .heading h1 {
  margin-bottom: 5%;
}
.container .heading p {
  margin-bottom: 5%;
  font-size: 30px;
}

.container .results {
  font-size: 20px;
  margin-top: 5%;
  margin-bottom: 5%;
}
.container .gallery h2 {
  margin-top: 5%;
  margin-bottom: 3%;
}

.main #search-box {
  font-size: 20px;
  width: 250px;
  height: 40px;
  border-radius: 3px;
}

.main #language {
  width: 200px;
  font-size: 20px;
  margin-left: 500px;
}

.main .button {
  margin-top: 2%;
}
.main .button input[type="button"] {
  background-color: rgb(12, 101, 152);
  width: 120px;
  height: 45px;
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 20px;
}

.main .button .button:hover {
  background-color: grey;
}
.images {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.images .image-box {
  display: none;
}

.image-box img {
  margin-bottom: 30px;
  height: 500px;
  width: 300px;
}

.image-box {
  position: relative;
  overflow: hidden;
}

.image-box .text {
  position: absolute;
  inset: 0;
  font-size: 25px;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-box .text .decor {
  background-color: rgb(108, 108, 108);
  color: white;
}
.image-box img,
.image-box .text {
  transition: 300ms ease-in-out;
}

.image-box:hover img.blur {
  filter: brightness(40%);
}

.image-box .text {
  opacity: 0;
}

.image-box:hover .text {
  opacity: 1;
}
